:root {
    --light_blue: rgb(30, 144, 255);
    --white: rgb(255, 255, 255);
    --smoky_white:rgb(200, 200, 200);
    --blue: rgb(40, 87, 159);
    --dark_blue: rgb(0, 50, 130);
  }

body{
    background-color: var(--blue); 
    background-size: cover;
}

#banner{
    width: 100%; 
    height: 100%; 
    padding-bottom: 0; 
    padding-right: 0; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 0px;
    display: inline-flex
}

#nav-bar{
    width: 380px; 
    height: 40px; 
    text-align: center; 
    color: var(--white); 
    font-size: 32px; 
    font-family: Arial; 
    font-weight: 600;  
}

a{text-decoration: none;}
a {color: var(--dark_blue)}
a:visited {color: var(--dark_blue);}
a:hover {color: var(--smoky_white);}
a:active {color: var(--white);}

#first-broadcast{
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: var(--white);
    font-size: 36px; 
    font-family: Inter; 
    font-weight: 500; 
}

#match{
    font-size: 18px; 
    font-weight: 600; 
    font-family: Arial;
    background-color: rgb(63, 166, 225);
    border-radius: 2vw;
    border: 5px solid rgb(255, 255, 255);
    line-height: 1.8
}

#matches {
    border-spacing: 30px;
}

tbody{
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button{
    background-color: rgb(38, 152, 234);
    color: rgb(38, 152, 234);
    transition: background-color 350ms linear;
    font-weight: 700;
    color: rgb(40, 87, 159);
}

audio::-webkit-media-controls-volume-slider{
    background-color: var(--dark_blue);
}

audio::-webkit-media-controls-mute-button:hover,
audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-timeline:hover,
audio::-webkit-media-controls-seek-back-button:hover,
audio::-webkit-media-controls-seek-forward-button:hover,
audio::-webkit-media-controls-fullscreen-button:hover,
audio::-webkit-media-controls-rewind-button:hover,
audio::-webkit-media-controls-return-to-realtime-button:hover,
audio::-webkit-media-controls-toggle-closed-captions-button{
    background-color: rgb(110, 180, 230);
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline{
    border-start-end-radius: 50px;
    border-start-start-radius: 50px;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
}