:root {
  --light_blue: rgb(30, 144, 255);
  --white: rgb(255, 255, 255);
  --smoky_white:rgb(200, 200, 200);
  --blue: rgb(40, 87, 159);
  --dark_blue: rgb(0, 50, 130);
}

body{
  background-color: var(--blue); 
  background-size: cover;
}

#title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(/media/grass.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  background-position: right top;
  margin-top: -1vw;
}

#banner{
  width: 100%; 
  height: 100%; 
  padding-bottom: 0; 
  padding-right: 0; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 0px;
  display: inline-flex
}

#nav-bar{
  width: 380px; 
  height: 40px; 
  text-align: center; 
  color: var(--white); 
  font-size: 32px; 
  font-family: Arial; 
  font-weight: 600;
  overflow: hidden;
}

a{text-decoration: none;}
a {color: var(--dark_blue)}
a:visited {color: var(--dark_blue);}
a:hover {color: var(--smoky_white);}
a:active {color: var(--white);}


.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: var(--dark_blue);
  margin: 0;
  width: 380px; 
  height: 40px; 
  text-align: center;
  font-size: 32px; 
  font-family: Arial; 
  font-weight: 600;
  overflow: hidden;
  background-color: var(--blue);
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--blue);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(240, 248, 255, .5);
  min-width: 160px;
  z-index: 1;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.dropdown-content a {
  float: none;
  color: dimgrey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--light_blue);
}

.dropdown:hover .dropdown-content {
  display: block;
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 600px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.icons {
  position: absolute;
  margin-left: 10vw;
}

.contact_icon {
  padding-top: 6vw;
  padding-left: 60px;
  position: absolute;
}

.pitch{
  background-color: #2d9734;
  width: 800px;
  height: 520px;
  position: relative;
  margin-left: 22.5vw;
}
.pitch:after{
content: "";
border-left: 1px solid white;
position: absolute;
top :20px;
left :400px;
display:block;
height:480px;
}

.pitch:before{
content: "";
border: 1px solid white;
position: absolute;
top :20px;
left :20px;
display:block;
width: 760px;
height:480px;
}

.center-circle{
  position: absolute;
  top: 230px;
  left: 355px;
  width: 90px;
  height: 90px;
  border: 1px solid white;
  border-radius: 50%;
}
.center-circle:after{
  position: absolute;
  top: 43px;
  left: 43px;
  width: 1px;
  height: 1px;
  background-color:white;
  content:"";
  border:1px solid white;
}

.penalty-area{
  position: absolute;
  height: 140px;
  width: 80px;
  top: 200px;
  border: 1px solid white;
}

.left .penalty-area{
  left: 20px;
  border-left: 0;
}

.right .penalty-area{
  right: 19px;
  border-right: 0;
}

.penalty-area:before{
  position: absolute;
  height: 70px;
  width: 35px;
  top: 35px;
  border: 1px solid white;
  content:"";
}
.left .penalty-area:before{
  left:0px;
 border-left:0;
 }
 .right .penalty-area:before{
  right:0px;
 border-right:0;
 }

.penalty-area:after{
  position: absolute;
  height: 2px;
  width: 2px;
  top: 70px;
  background-color:white;
  content:"";
}
.left .penalty-area:after{
  right:15px;
}
.right .penalty-area:after{
  left:15px;
}

.player{
position:absolute;
border-radius:50%;
width:20px;
height:20px;
}
.player:after{
font-size:10px;
position:absolute;
left:3px;
}
.home-team .player{
background:rgb(24, 71, 189);
}
.home-team .player.one{
top:260px;
left:25px;
background:rgb(46, 171, 216);
}
.home-team .player.one:after{
content:"1";
}
.home-team .player.two{
top:80px;
left:200px;
}
.home-team .player.two:after{
content:"2";
}
.home-team .player.three{
top:180px;
left:200px;
}
.home-team .player.three:after{
content:"3";
}
.home-team .player.four{
top:320px;
left:200px;
}
.home-team .player.four:after{
content:"4";
}
.home-team .player.five{
top:420px;
left:200px;
}
.home-team .player.five:after{
content:"5";
}
.home-team .player.six{
top:80px;
left:420px;
}
.home-team .player.six:after{
content:"6";
}
.home-team .player.seven{
top:180px;
left:420px;
}
.home-team .player.seven:after{
content:"7";
}
.home-team .player.eight{
top:320px;
left:420px;
}
.home-team .player.eight:after{
content:"8";
}
.home-team .player.nine{
top:420px;
left:420px;
}
.home-team .player.nine:after{
content:"9";
}
.home-team .player.ten{
top:165px;
left:630px;
}
.home-team .player.ten:after{
content:"10";
left:0px;
}
.home-team .player.eleven{
top:350px;
left:630px;
}
.home-team .player.eleven:after{
content:"11";
left:0px;
}

.player{
animation-duration:5s;
animation-timing-function:linear;
animation-delay:2s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
}
.home-team .player.nine{
animation-name:nine;
}

.home-team .player.eight{
animation-name:eight;
}